<!--
{% load static %}
-->
<!DOCTYPE html>
<html>
<head>
	<title>Hazards Map</title>
<!-- CSS (Bootstrap, Leaflet) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   
<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   
<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyADqO-NN6-LdkHEyHAWDh8HFuOI5duoGjc",
    authDomain: "pyaccountant-160.firebaseapp.com",
    databaseURL: "https://pyaccountant-160.firebaseio.com",
    projectId: "pyaccountant-160",
    storageBucket: "pyaccountant-160.appspot.com",
    messagingSenderId: "417875504734"
  };
  firebase.initializeApp(config);
</script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container"> 
      <div id="mapid" style="height: 480px;">
        
      </div>
      
      
    </div>

<!-- Footer -->
	<div style="clear: both"></div>
    <div id="footer" style="padding-left:40px;"> <br>
    	<hr>
        <pp>&copy; 2019 Hazards Map | 
        Designed and developed by <a href="http://www.tyfeng.com/">Ty Feng</a> for <a href="https://csc.as.miami.edu/courses/index.html#Level400">
          CSC 431 Software Engineering</a> in Spring 2019 <a href="https://www.miami.edu/">@University of Miami</a></pp>
    </div>

<script type="text/javascript">
  
   // initialize the map on the "mapid" div with a given center and zoom
   var map = L.map('mapid', {
      center: [25.7181769,-80.2783338],
      zoom: 15
   }); 
   
   L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoieXR5ZmVuZyIsImEiOiJjanRtMm40dXcwMXY0NDRxazVsaTRldTdzIn0.wirqb-mPBGrzdOdq8Z9JNw'
}).addTo(map);
   
</script>

</body>
</html>