<!--
{% load static %}
-->
<!DOCTYPE html>
<html>
<head>
	<title>PyAccountant</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyADqO-NN6-LdkHEyHAWDh8HFuOI5duoGjc",
    authDomain: "pyaccountant-160.firebaseapp.com",
    databaseURL: "https://pyaccountant-160.firebaseio.com",
    projectId: "pyaccountant-160",
    storageBucket: "pyaccountant-160.appspot.com",
    messagingSenderId: "417875504734"
  };
  firebase.initializeApp(config);
</script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  body {
    background-color: #EBF8FF;
    color: #2f4858; 
  }
  textarea {
    background-color: #C3EAFF;
    color: #2f4858;
}

p {
    font-size: 1.2em;
}
pp {
  font-size: .8em;
}
 .navbar-default {
    background-color: #9EE493;
    border-color: #2f4858;
}
.navbar-nav {
  background-color: #212121;
}
nav-link {
 background-color: #212121;
}

.navbar-nav > li > a {padding-top:40px !important; padding-bottom:65px !important;}

.navbar {min-height:50px !important}


</style>

</head>

<body>
    <div class="container"> 
 <nav class="navbar navbar-default navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="nav navbar-nav pull-left">
                <a style="text-align:center; position:absolute;  display:block; margin-top:-10px"  class="navbar-brand navbar-middle">
    <img src="https://preview.ibb.co/hxOAap/logo_5x.png" alt="logo_5x" border="0" width="250px"> 
                </a>
            </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="nav-item active">
            <a class="nav-link" style="background-color: #9EE493;"  href="chapterZero.html"> <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
       
      </div>
    </nav>
<h1 style="font-size: 4em;">The Journey to an Easier Life</h1>

<h3 >
    Steve's daredevil journey of manipulating demonic powers 
    to make them perform data entry for him
</h3>

<p>Once upon a time, Steve was a lowly junior accountant who had to work overtime to perform tedious data entry. </p>
<p>Feeling miserable and exhausted, he started to ponder if there is a better way...</p>
<p>"Life is too short to enter data manually," he cried. </p>

  <!-- First Photo Grid-->
  <div class="w3-row-padding" style="padding-top:50px;">
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="chapterZero">
        <img src="https://image.ibb.co/jO0rve/chapter0_1.jpg" alt="Chapter0" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 0</b></p>
        <p>Steve is an accountant who spends most of his time performing data entry. 
        One day, his boss forces him to work all night show up to work the next day...</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="chapterOne">
        <img src="https://image.ibb.co/f7771K/chapter1_1.jpg" alt="Chapter1" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 1</b></p>
        <p>Steve starts off by summoning a demon. Since he dislikes his boss so much, 
        he decides to give the demon the same name as his boss...</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <a href="chapterTwo">
        <img src="https://image.ibb.co/bONzgK/chapter2.jpg" alt="Chapter2" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 2</b></p>
        <p>First of all, Steve sees how to have demons process information: 
        simply by calling them and directly handing them this information...</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="chapterThree">
        <img src="https://preview.ibb.co/bDWXLe/chapter3_1.jpg" alt="Chapter3" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 3</b></p>
        <p>Obviously, as an accountant, Steve wants to add and subtract numbers. 
        To do actions such as these, Steve doesn’t even need to summon demons; 
        all summoners are inherently able to perform cantrips as a free action, 
        and so do not need to summon demons in order to perform math...</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="chapterFour">
        <img src="https://image.ibb.co/no1SmK/chapter4.jpg" alt="Chapter4" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 4</b></p>
        <p>When dealing with demons, there are all manner of optimizations that sorcerers 
        from yore once used in order to make communicating with demons slightly easier...</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="chapterFive">
        <img src="https://preview.ibb.co/jBrtRK/chapter5.jpg" alt="Chapter5" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>Chapter 5</b></p>
        <p>While this is all neat, Steve still does not really see how he can make demons do the work for him. 
        He’s basically telling them to do exactly what he was doing already. 
        One way to fix this is to create, define and use spells...</p>
      </div>
    </div>
    
  </div>
<!-- END of Photo Grid -->


</div>

<!-- Footer -->
	<div style="clear: both"></div>
    <div id="footer" style="padding-left:40px;"> <br>
    	<hr>
        <pp>&copy; 2018-19 PyAccountant | 
        Designed and developed by Ty Feng, Ken Chiu, Albert Tung, Jingxian Wu, and Chi Zhang for <a href="https://www2.eecs.berkeley.edu/Courses/CS160/">CS 160</a> in Summer 2018 <a href="https://www.berkeley.edu/">@UC Berkeley</a></pp>
    </div>

</body>
</html>